.page {
    max-width: 1800px;
    font-family: 'montserrat', serif;
    margin: 0 auto;
    font-weight: 300;
    text-align: center;
}

.logo-top {
    width: 160px;
    height: 87px;
}

/* ------------------------------------------------------------------------------------------------------- */

.nav {
    margin-top: 60px;
    min-height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.menu__link {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    padding: 8px;
    border: 1px solid transparent;
}

.color-gold {
    color: #D1A954;
}

.burger-size {
    padding: 25px 10px;
    cursor: pointer;
    border: 1px solid transparent;
}

.menu__link:hover,
.burger-size:hover {
    border: 1px solid rgba(209, 169, 84, 0.9);
}

.line {
    width: 40px;
    height: 1px;
    background: #000000;
    position: relative;
}

.line::before,
.line::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: -10px;
    left: 0;
}

.line::after {
    top: 10px;
}

/* ------------------------------------------------------------------------------------------- */

.events {
    min-height: 770px;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.event-pic {
    width: 580px;
    height: 650px;
}

.event-item {
    position: relative;
}

.event-item-block {
    width: 580px;
    height: 166px;
    position: absolute;
    top: 75%;
    left: 0;
    background: url(../img/back-ev.png) no-repeat center / 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-item-block::after {
    content: '';
    display: block;
    width: 93%;
    height: 80%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 17px;
    left: 20зч;
}

.event-item-block__title {
    font-size: 30px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.event-item-block__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

/* ------------------------------------------------------------------------------------------- */

.slider {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.btn-left,
.btn-right {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 10px;
}

/* ------------------------------------------------------------------------------------------- */

.about-feed__title {
    padding-top: 100px;
    font-size: 36px;
    line-height: 70px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #222222;
}

.about-feed__pic {
    width: 46px;
    display: inline-block;
}

.about-feed__text,
.about-galery__text,
.foot-inf__text {
    font-size: 9px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

.about-feed__feed {
    max-width: 920px;
    display: inline-block;
}

/* ------------------------------------------------------------------------------------------- */

.about-inf {
    display: grid;
    justify-content: center;
    grid-template-columns: 350px repeat(2, 255px);
    grid-template-rows: repeat(2, 170px);
    gap: 30px;
}

.about-inf1 {
    grid-row: 1/3;
    grid-column: 1/2;
}

.logo-size {
    width: 203px;
    display: inline-block;
    padding-bottom: 30px;
}

.about-inf-wrap {
    display: flex;
}

.about-inf-pic-wrap,
.about-galery__pic,
.foot-inf__pic {
    width: 46px;
    display: inline-block;
}

.about-inf-wrap-title {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #3a3737;
    padding: 15px;
}

.about-inf-text {
    font-size: 14px;
    line-height: 19px;
    color: #616161;
    text-align: left;
}

/* ------------------------------------------------------------------------------------------- */

.about-galery {
    display: grid;
    justify-content: center;
    grid-template-columns: 285px 0 350px 105px 350px;
    grid-template-rows: repeat(3, 300px);
    gap: 30px;
    padding: 100px 0 100px;
}

.item1 {
    grid-row: 1/2;
    grid-column: 1/3;
}

.item2 {
    grid-row: 1/2;
    grid-column: 2/5;
}

.item4 {
    grid-row: 2/4;
    grid-column: 1/4;
}

.item5 {
    grid-row: 2/3;
    grid-column: 4/6;
}

.item6 {
    grid-row: 3/4;
    grid-column: 4/6;
}

.about-galery__title {
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;
    padding: 100px 0 15px;
}

.about-galery-item {
    height: 100%;
}

.about-galery-item-630 {
    height: 100%;
}

/* ------------------------------------------------------------------------------------------- */

.more {
    background: url(../img/back-more.jpg) no-repeat center / 105%;
    height: 409px;
}

.more-inf {
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 100px 0 55px;
}

.btn-plan,
.btn-present {
    width: 320px;
    height: 64px;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    margin-right: 50px;
}

.btn-present {
    margin-right: 0;
}

/* ------------------------------------------------------------------------------------------- */

.lead {
    max-width: 1110px;
    min-height: 408px;
    margin: 100px auto;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.lead-rest {
    width: 50%;
    height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lead-title {
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}

.lead-text {
    font-size: 14px;
    line-height: 19px;
    color: #616161;
}

.lead-rest-box {
    display: flex;
}

.lead-rest-inf {
    width: 270px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lead-rest-title {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}

.lead-rest-wrap {
    display: flex;
}

.lead-rest-wrap__text {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding-left: 20px;
}

/* ------------------------------------------------------------------------------------------- */

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__text {
    padding-top: 10px;
    display: block;
    width: 540px;
    font-size: 14px;
    line-height: 25px;
    color: #616161;
    border: none;
    outline: none;
    border-bottom: 0.5px solid #D0D0D0;
    /* text-align: start; */
}

.message {
    border: 0.5px solid #D0D0D0;
    height: 196px;
}

.form__btn {
    width: 182px;
    height: 45px;
    background: #D1A954;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
}

/* ------------------------------------------------------------------------------------------- */

.foot-inf {
    min-height: 320px;
    background: #F9F7F7;
    padding: 7% 0;
}

.foot-inf-galery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.foot-inf-title {
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #222222;
}

.foot-inf-galery-item {
    width: 300px;
    height: 300px;
}

.foot-inf-link {
    min-height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.foot-inf-link__social {
    display: flex;
}